.saved-cards {
    padding-top: 62px;
    padding-bottom: 62px;
    background-color: #F5F6F7;
}

@media screen and (max-width: 960px) {
    .saved-cards {
        padding-top: 32px;
        padding-bottom: 32px;
    }
}

@media screen and (max-width: 500px) {
    .saved-cards {
        padding-top: 24px;
        padding-bottom: 24px;
    }
}