@font-face {
    src: url('../../fonts/roboto-regular.woff') format('woff');
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
}

@font-face {
    src: url('../../fonts/robotoslab-regular.woff') format('woff');
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
}

.not-found {
	display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 80px;
    width: 24.86%;
}

.not-found__img {
    margin: 0 auto 24px;
    height: 96px;
    width: 96px;
    object-fit: cover;
}

.not-found__title {
    margin-bottom: 16px;
    margin-top: 0;
    font-family: 'Roboto Slab', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.153;
    color: #1A1B22;
}

.not-found__description {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.33;
    color: #B6BCBF;
}

@media screen and (max-width: 660px) {
    .not-found {
        width: 40%;
    }
}

@media screen and (max-width: 560px) {
    .not-found {
        width: 60%;
    }
}