@font-face {
     src: url('./robotoslab-regular.woff') format('woff');
     font-family: 'Roboto Slab';
     font-style: normal;
     font-weight: 400;
}

@font-face {
     src: url('./robotoslab-bold.woff') format('woff');
     font-family: 'Roboto Slab';
     font-style: normal;
     font-weight: 700;
}