@font-face {
    src: url('../../fonts/sourcesanspro-regular.woff') format('woff');
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
}

@font-face {
    src: url('../../fonts/robotoslab-regular.woff') format('woff');
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
}

@font-face {
    src: url('../../fonts/roboto-regular.woff') format('woff');
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
}

@font-face {
    src: url('../../fonts/roboto-medium.woff') format('woff');
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
}

@font-face {
    src: url('../../fonts/robotoslab-bold.woff') format('woff');
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
}


.card {
    margin: 0;
    background-color: #fff;
    border-radius: 10px;
    line-height: 0;
    overflow: hidden;
    position: relative;
    filter: drop-shadow(0px 2px 2px rgba(8, 29, 45, 0.1));
    cursor: pointer;
}

.card__save-button {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 40px;
    height: 40px;
    background-image: url(../../images/save-inactive.png);
    border: none;
    border-radius: 10px;
    padding: 0;
    box-shadow: none;
    cursor: pointer;
}

.card__save-button:hover {
    background-image: url(../../images/save-active.png);
}

.card__save-button_blue {
    background-image: url(../../images/save-blue.png);
}

.card__save-button_blue:hover {
    background-image: url(../../images/save-blue.png);
}

.card__save-button:after {
    content: "Войдите, чтобы сохранять статьи";
    background-color: #FFF;
    position: absolute;
    width: 182px;
    top: 0;
    right: 45px;
    border-radius: 10px;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 1.172;
    padding-bottom: 13px;
    padding-top: 15px;
    visibility: hidden;
}

.card__save-button_loggedin:after {
    content: none;
}

.card__save-button:hover:after {
    visibility: visible;
}

.card__delete-button {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 40px;
    height: 40px;
    background-image: url(../../images/bin.png);
    border: none;
    border-radius: 10px;
    padding: 0;
    box-shadow: none;
    cursor: pointer;
}

.card__delete-button:hover {
    background-image: url(../../images/bin-dark.png);
}

.card__delete-button:after {
    content: "Убрать из сохранённых";
    background-color: #FFF;
    position: absolute;
    width: 182px;
    top: 0;
    right: 45px;
    border-radius: 10px;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    padding-bottom: 13px;
    padding-top: 15px;
    visibility: hidden;
}

.card__delete-button:hover:after {
    visibility: visible;
}

.card__key-word {
    background-color: #FFF;
    position: absolute;
    top: 24px;
    left: 36px;
    border-radius: 10px;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    padding: 13px 12px 14px;
    display: none;
    margin: 0;
}

.card__key-word_visible {
    display: block;
}

.card__photo {
    object-fit: cover;
    height: 272px;
    width: 100%;
}

.card__caption {
    width: 88%;
    padding: 20px 24px 24px;
    display: flex;
    flex-direction: column;
}

.card__date {
    margin-bottom: 12px;
    margin-top: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.33;
    color: #B6BCBF;
}

.card__title {
    margin-bottom: 16px;
    margin-top: 0;
    font-family: 'Roboto Slab', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.153;
    color: #1A1B22;
}

.card__abstract {
    margin-bottom: 18px;
    margin-top: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.375;
    color: #1A1B22;
}

.card__source {
    margin: 0;
    font-family: 'Roboto Slab', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    color: #B6BCBF;
}

@media screen and (max-width: 970px) {
    .card__save-button {
        top: 8px;
        right: 8px;
    }

    .card__photo {
        height: 150px;
    }

    .card__caption {
        width: 85.71%;
        padding: 16px 16px;
    }

    .card__title {
        margin-bottom: 10px;
        font-size: 22px;
        line-height: 1.09;
    }

    .card__abstract {
        margin-bottom: 12px;
        height: 88px;
        overflow: hidden;
    }

    .card__save-button:after {
        width: 165px;
    }

    .card__delete-button {
        top: 8px;
        right: 8px;
    }

    .card__delete-button:after {
        display: none;
    }

    .card__key-word {
        top: 8px;
        left: 8px;
        padding: 12px 12px;
    }
}

@media screen and (max-width: 500px) {
    .card__save-button {
        top: 16px;
        right: 16px;
    }

    .card__photo {
        height: 196px;
    }

    .card__caption {
        width: 88.88%;
        padding: 16px 16px 17px;
    }

    .card__date {
        margin-bottom: 10px;
    }

    .card__abstract {
        margin-bottom: 8px;
    }

    .card__delete-button {
        top: 16px;
        right: 16px;
    }

    .card__key-word {
        top: 16px;
        left: 16px;
        padding: 12px 12px;
    }
}