@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../../fonts/sourcesanspro-regular.woff') format('woff');
}

@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../../fonts/robotoslab-regular.woff') format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../../fonts/roboto-regular.woff') format('woff');
}

@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../../fonts/robotoslab-bold.woff') format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('../../fonts/roboto-medium.woff') format('woff');
}

.news-card {
    margin: 0;
    background-color: #fff;
    border-radius: 10px;
    line-height: 0;
    overflow: hidden;
    position: relative;
    filter: drop-shadow(0px 2px 2px rgba(8, 29, 45, 0.1));
    cursor: pointer;
    max-height: 576px;
}

.news-card__key-word {
    background-color: #FFF;
    position: absolute;
    top: 24px;
    left: 36px;
    border-radius: 10px;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    padding: 13px 12px 14px;
    display: none;
    margin: 0;
}

.news-card__key-word_visible {
    display: block;
}

.news-card__photo {
    object-fit: cover;
    height: 272px;
    width: 100%;
}

.news-card__caption {
    width: 88%;
    padding: 20px 24px 24px;
    display: flex;
    flex-direction: column;
}

.news-card__date {
    margin-bottom: 12px;
    margin-top: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.333;
    color: #B6BCBF;
}

.news-card__title {
    margin-bottom: 16px;
    margin-top: 0;
    font-family: 'Roboto Slab', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.153;
    color: #1A1B22;
    overflow: hidden;
    max-height: 3.459em;
}

.news-card__abstract {
    margin-bottom: 18px;
    margin-top: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.375;
    color: #1A1B22;
    overflow: hidden;
    max-height: 4.125em;
}

.news-card__source {
    margin: 0;
    font-family: 'Roboto Slab', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    color: #B6BCBF;
}

@media screen and (max-width: 970px) {
    .news-card__save-button {
        top: 8px;
        right: 8px;
    }

    .news-card__photo {
        height: 150px;
    }

    .news-card__caption {
        width: 85.71%;
        padding: 16px 16px;
    }

    .news-card__title {
        margin-bottom: 10px;
        font-size: 22px;
        line-height: 1.09;
        max-height: 3.27em;
    }

    .news-card__abstract {
        margin-bottom: 12px;
        height: 88px;
    }

    .news-card__save-button:after {
        width: 165px;
    }

    .news-card__key-word {
        top: 8px;
        left: 8px;
        padding: 12px 12px;
    }
}

@media screen and (max-width: 500px) {
    .news-card {
        max-height: 440px;
        min-height: 440px;
    }

    .news-card__save-button {
        top: 16px;
        right: 16px;
    }

    .news-card__photo {
        height: 196px;
    }

    .news-card__caption {
        width: 88.88%;
        padding: 16px 16px 17px;
    }

    .news-card__date {
        margin-bottom: 10px;
    }

    .news-card__abstract {
        margin-bottom: 8px;
    }

    .news-card__key-word {
        top: 16px;
        left: 16px;
        padding: 12px 12px;
    }
}