@import url(./vendor/normalize.css);

.root {
  background-color: #FFF;
  margin: 0;
}

.page {
  min-width: 300px;
  margin: 0 auto;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page__header {
  background: no-repeat url('./images/header-background.png');
  background-size: cover;
  background-position: center;
}

.page__header_saved-news {
  background: #FFF;
}

/* @media screen and (max-width: 600px) {
  .page {
    padding-top: 28px;  
  }

  .page__header {
    margin-bottom: 42px;  
  }
} */
